.sizeTile {
    cursor: pointer;
    font-family: Helvetica;
    font-weight: 350;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: .5px solid lightgray;
}

.selected {
    cursor: pointer;
    font-family: Helvetica;
    font-weight: 350;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: .5px solid black;
}

.sizeTile:hover {
    border-color: black;
}

.grid {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 55px 55px 55px 55px;
}

.error-text {
    color: #d43f21;
}

.grid-selected {
    border-radius: 5px;
    border: .5px solid;
    border-color: #d43f21;
}

#selectSize {
    font-weight: 525;
    justify-content: left;
}

#sizeGuide {
    color: gray;
    float: right;
    padding-bottom: 10px;
    padding-right: 6px;
}

#inventory {
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    float: right;
    width: fit-content;
}

.inventoryHeader {
    font-family: Helvetica;
}

#quantity0 {
    cursor: default;
    pointer-events: none;
    color: lightgray;
    background-color: rgb(241, 241, 241);
    border-color: lightgray;
}

.fewLeft {
    color: rgb(186, 134, 30);
    font-weight: 450;
    font-family: Helvetica;
    width: fit-content;
    padding-bottom: 25px;
    margin: 5px;
}

#order-soon-text {
    padding-left: 20px;
    vertical-align: top;
    line-height: 1.5;
}

.inventory-button {
    
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    border: .1px solid lightgray;
    width: 100%;
    padding: 18px 24px 18px 24px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite {
    background-color: white;
    border-color: lightgray;
}

.add-to-cart {
    color: white;
    background-color: black;
    border-color: black;
}

button:focus {
    outline:0;
}

.shipping-date {
    font-family: Helvetica;
    font-weight: 330;
    color: rgb(29, 29, 29);
    margin-top: 80px;
    width: fit-content;
}

.shipping-text {
    font-family: Helvetica;
    font-weight: 535;
    margin-top: 50px;
    float: left;
}

.edit-location {
    cursor: pointer;
    float: right;
    font-weight: 350;
    padding-left: 5px;
    text-decoration: underline;
}

.inventory-text {
    padding: 15px 0px 10px 10px;
    font-family: Helvetica;
    font-weight: 330;
    color: #d43f21;
}

.hidden {
    display: none;
}
